:root {
	margin: 0;
	padding: 0;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	width: 100vw;
	min-height: 100vh;
	min-height: 100dvh;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}

#root {
	flex: 1
}
